body{
    padding: 0;
    z-index: 0;
    background: #fff;
    
    color:#000;
}

#hero{
    background: linear-gradient(
                rgba(20,20,20, .5), 
                rgba(20,20,20, .5)),
                url('/img/backdrop.jpeg') no-repeat;
    background-size: cover;
    background-position: 0 100%;
    height:100vh;
    font-weight: bold;
    
}

#lnavbar{
    background: rgba(51, 73, 99, 0.42);
    height: 60px;
}

#brand-img{
    height: 45px;
}

#login-a{
    color: #fff;
}

#bodybg{
    background:#E6E5E5;
    border: 1px solid rgba(2, 2, 2, 0.56);
}

.navbutton:hover{
    text-decoration: none;
}

#mtitle{
    margin-top: 20vh;
    color: #fff;
}

#sub-title{
    color: #fff;
}

.btn{
    font-weight: bold;
}

.call_2_a{
    
    color: #fff;
}

#footer{
    height: 50px;
    background: rgba(51, 73, 99, 0.7);
}

/*Nav Link Style */

.navLink{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    #navbarNavSide {display: none;}
}

@media screen and (min-width: 1000px) {
    #hide {display: none;}
}

/*Side Nav Style */
@media screen and (max-width: 1000px) {
    .navLink{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #26464d; /* Primary Color*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5 s; /* 0.5 second transition effect to slide in the sidenav */
        margin-left: 0px;
        padding-left: 10px;
    }

    /* The navigation menu links */
    .navLink a {
        padding: 15px 15px 15px 32px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .navLink a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .navLink .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}
