<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a href="/" class="navbar-brand">
			<img src="/img/logo.png" id="brand-img">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="col-md-8 navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/resources/add">Add Resource</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal2">Delete Account</a>
                </li>
                


                <div class="modal fade" id="exampleModal2" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to your Account?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-realDanger delete-user" data-id="<%= user._id %>" >Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <% } %>
            
            
            </ul>
            <div class="col-md-4 logsign justify-content-end d-flex">
                <ul class="nav navbar-nav">
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" ><%= user.username %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout <span class="sr-only">(current)</span></a>
                        </li>
                    <% } %>
                    <% if (!user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Sign Up <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                    <% } %>
                    
                </ul>
            </div>
        </div>
	</div>
</nav>
<br>
<div class="container">
    <%- messages('message', locals) %>
</div>
